node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Foundry Compiler files
cache/
out/

# Ignores Foundry development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Hardhat files
cache
artifacts
